*{margin:0; box-sizing: border-box;}

body{background-color: #274C77; color: white;}

#header_principal {background-color: #6096BA;padding: 25px;}

main section {background-color: #6096BA;padding: 20px;margin: 20px;}

div{background-color: #8B8C89}

div>h3{color: #FFE45E;padding: 10px;}

section>h2{margin: 5px;}

h2+p{color: #CAE9FF;}

h3~ ul{color: #E7ECEF;margin: 5px;}

h2~p {padding: 5px;}

.publico{width: 60%;padding: 10px;margin: 10px;}

#conducta{height: 160px;}

#recomendaciones{height: 140px;}

.lista_tenistas {width: 300px; height: 345px;padding: 20px ;margin: 15px;}

footer{background-color: #A3CEF1;padding: 20px;}







